.places {
    width: auto;
    display: grid;
    padding-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 19px 17px;
}

@media screen and (max-width: 900px) {
    .places {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 610px) {
    .places {
        grid-template-columns: 1fr;
    }
}