.places {
    width: auto;
    display: grid;
    padding-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 17px;
}

@media screen and (max-width: 950px) {
    .places {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 615px) {
    .places {
        grid-template-columns: 1fr;
        padding-top: 36px;
        grid-gap: 20.5px;
    }
}
