.profile {
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}


@media screen and (max-width: 930px) {
    .profile {
        margin-top: 42px;
        padding: 0 19px;
    }
}

@media screen and (max-width: 830px) {
    .profile {
        flex-direction: column;
    }
}
