.profile__edit {
    border: 1px solid #FFFFFF;
    width: 24px;
    height: 24px;
    background-color: #000000;
    margin: 5px 0 0 18px;
}
@media screen and (max-width: 320px) {
    .profile__edit {
        width: 18px;
        height: 18px;
        margin: 5px 0 0 10px;
    }
    
}