.place__info {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 0 21px;
    align-items: center;
}

@media screen and (max-width: 400px){
    .place__info {
      padding-top: 21px;
    }
}
