.place {
    background: #FFFFFF;
    border-radius: 10px;
    min-width: 282px;
    max-width: 282px;
    /*Я конечно исправлю, но по мне так это странное замечание,
    так как карточка имеет фиксированный размер для всех разрешений,
    и не совсем понятно собственно как может начаться переполнение
    контентом если мы его обрезаем, плюс верстка как как раз сломалась
    из-за что поменял ширинку карточки на рекомендованную Вами.*/
    min-height: 361px;
}
